.Body {
  width: calc(3 * 64px);
  display: grid;
  gap: 8px;
  grid-template-rows: 140px auto;
  margin: 24px auto;
}

.Keyboard {
  display: grid;
  grid-template-columns: repeat(3, 64px);
  grid-template-rows: 32px repeat(4, 64px);
  gap: 8px;
}

.Screen {
  display: grid;
  grid-template-columns: calc(3 * 64px);
  border: 1px solid #333;
  font-family: monospace;
  padding: 2px 4px;
}

@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.Screen-text-container {
  grid-area: 1 / 1 / 2 / 2;
}

.Screen-cursor-container {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: -4px;
  margin-right: 4px;
}

.Screen-cursor {
  opacity: 1;
  animation: cursor 1s infinite;
}

.Screen-hidden-char {
  opacity: 0;
}